@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.aut{
    display: flex;
    width: 100%;
    
    flex-direction: column;
    a{
        text-decoration: none;
        color:#eeeded;
    }    

    header{
        z-index: 3;
        display: flex;
        align-items: center;
        position:fixed;
        justify-content: center;
        height: 90px;
        width: 100%;
        font-family:Confortaa;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 0.5s ease-out;
        transition: background-color 1s ease-out;
        font-weight: 300px;
        &:hover{
            background-color: black;
            transition-delay: background-color 2s ease-in;
        }


        .logo{
            width: 90px;
            margin: 0px 0px 0px 60px;
        }
        .navigate-control{
            display: flex;
            flex-direction:row;
            justify-content: space-around;
            margin: 0px 300px 0px 40px;
            align-items: center;
            width: 490px;
            color:#eeeded;
            height: 38px;
            
            a{
                font-size: 22.75px;
            }
           
        }
        
        .last-navigate{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FF9B6C;
            height: 25px;
            border-bottom: 1px solid #FF9B6C;
            margin: 0px 40px 0px 0px;
            
        }
    }
    .section1{
        position: relative;
        display: block;
        flex-direction: column;
        height: 87vh;
        width: 100%;
        z-index: 0;
        .video-background {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 87vh;
            overflow: hidden;
            z-index: -1;

            video {
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        } 
        .content-section1{
            flex-direction: column;
            display: flex;
            align-items:end;
            justify-content:end;
            width: 430  px;

            z-index: 2;
            position: absolute;
            top: 26vh; 
            left: 5vw;
            .h1-box{
                width:430px;
                color: #ffffff; 
                font-size: 3.5rem;
                text-align: center;
            }
            .h3-box{
                text-decoration:underline;
                text-align: center;
                color:#FF9B6C;
                font-size: 1.5rem;
                font-weight: 400;
                letter-spacing: 3px;
            }

        }


    }

    .section2 {
        height: 87vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position:relative ;
        background-color: #1d0024;
        .content-section2{
            display: flex;
            justify-content: space-between;
            height: 600px;
            width:1200px;
            color: #eeeded;
            h1{
                font-size: 50px;
            }
            .pt1-content{
                display: flex;
                justify-content:right;
            } 
            
            .navigatept1{
                color: #FF9B6C;
                border-bottom: 1px solid #FF9B6C;
        
            }
        }

    }
    
   
}