.Main {
    width: 100vw;
    height: 100vw;
    .top {
        width: 100vw;
        height: 90vh;
        background-image: url("Backs.jpg");
        background-size:100% 100%;
        background-position: top;
        background-repeat: no-repeat;
        header{
            position: sticky;
            display: flex;
            -webkit-transition: background-color 0.5s ease-out;
            -moz-transition: background-color 0.5s ease-out;
            -o-transition: background-color 0.5s ease-out;
            transition: background-color 0.5s ease-out;
            flex-direction: row;
            width: 100%;
            top: 0;

            &:hover{
                background-color: black;
                transition-delay: background-color 1    s ease-in;
            }

            padding: 20px;

            .left {
                width: 100%;
                display: flex;
                height: fit-content;
                align-items: center;
                a{
                    margin-left: 2.3vw;
                    color: #ffffff;
                    font-family: "Kanit", sans-serif;
                    font-weight: 200;
                    font-size: 2vw;
                }
                img{
                    width: 12vw;
                }
            }
            .right{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: end;
                padding: 20px;


            }
        }
    }
    .middle {
        h1{
            color: #fff;
            font-family: "Kanit", serif;
            font-weight: 400;
            line-height: 3.5vw;
            letter-spacing: 6px;
            font-size: 3.9vw;
        }
        width: 50%;
        margin: 5% 5% 25% 5%;
    }

    .conference {
        width: fit-content;
        a{  
            font-size: 2vw;
            color: #FF9B6C;
            font-family: "Inter", serif;
            font-weight: 600;
            font-style: normal;
        }
        hr{
            border-color: #FFC1A5
        }
    }
}