



.config {
    display: flex;
    

    .div{
        display: flex;
        flex-direction: column;
        justify-content: start;
        width:  100vw;
        margin: 30px;
    }

    .foto{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        margin: 10px;
        gap: 10px;
        font-size: 20px;

        img{
            height: 30px;
            border-radius: 100%;
        }
    }

    .atum{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .quadrado{
            display: flex;
            margin: 20px;
            gap: 50px;
            justify-content: center;
            margin-top: 25px;
            
            .ab{
                display: flex;
                flex-direction: column;
                align-items: baseline ;
                margin-bottom: 20px;
            }
            
    
            input{
               border-radius: 13px;
               height: 5vh;
               width: 31vw;
               margin: 10px;
               color: #ffffff;
               background-color: #000;
               border: 5px solid transparent;
               box-shadow: 0px 4px 6px 0px #6A6A6A;
               font-size: 20px;
               padding: 1.4vw;
            }
            
        }

        .save{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 13px;
            height: 5vh;
            width: 8vw;
            margin: 10px;
            color: #ffffff;
            background-color: #000;
            border: 5px solid transparent;
            box-shadow: 0px 4px 6px 0px #6A6A6A;
            font-size: 30px;
         }
        }
    }


    
    .acessibilidade{
        max-width: 30px 0px;
        margin-top: 45px;
        

        .a{
            margin-bottom: 30px;
        }
       
        
        .ativar{
            display: flex;
            flex-direction: row;
            height: 20px;
            border-radius: 13px;
            justify-content: space-between;
            align-items: center;
            padding: 8px;
            margin: 6px;
        }

    .toggle {
        display: inline-block;
        height: 1.9rem;
        position: relative;
        width: 3.5rem;
        }
        .toggle input {
            cursor: pointer;
            height: 0;
        width: 0;
    }
    .toggle input::before {
        background-color: #000000;
        border: 1px solid #ffffff;
        border-radius: 1rem;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: background-color 0.25s ease-in-out;
        width: 100%;
    }
    .toggle input:checked::before {
        background-color: #ffffff;
        border: 1px solid #000000;
    }
    .toggle input:checked::after {
        background-color: #000000;
    }
    .toggle input::after {
        background-color: #919191;
        border-radius: 50%;
        content: '';
        height: 1.6rem;
        left: 0.2rem;
        position: absolute;
            top: 0.15rem;
            transition: transform 0.25s ease-in-out;
            width: 1.4rem;
        }
        
        .toggle input:checked::after {
            transform: translateX(1.65rem);
        }

        .linha{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 30px;
                

            .red{
                color:#ff0000
            }
            
        }
    }
        
        
    