@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  

.config {
    margin: 30px;
    font-family: Inter 400;
    


    .foto{
        display: flex;
        flex-direction: row;
        justify-content:  end;
        align-items: center;
        margin: 10px;
        gap: 10px;
        font-size: 20px;


        img{
            height: 30px;
        }
    }

    .quadrado{
        display: flex;
        margin: 20px;
        gap: 50px;
        justify-content: center;

        

        input{
           border-radius: 30px;
           height: 30px;
           width: 250PX;
           margin: 10px;
        }

    }
    
    .acessibilidade{
        max-width: 30px 0px;
    }

}